:root {
  --index: calc(1vw+1vh);
  --gap: calc(var(--index) * 10);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
}

@font-face {
  font-family: "raleway-c";
  src: url("../fonts/raleway-regular.woff2");
}

@font-face {
  font-family: "outfit-c";
  src: url("../fonts/outfit-regular.woff2");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: outfit-c;
  color: var(--color-header);
}

body {
  background-image: url(../img/bg.jpg);
  /* background-size: 50px; */
  color: var(--color-text);
  font-family: raleway-c;
  overflow-x: hidden;
}

/* will-change */

.content,
.hero,
.main-header,
.gallery > * {
  will-change: transform;
}

.hero {
  width: calc(var(--index) * 43);
  position: absolute;
  left: 37vw;
  top: 8vh;
  z-index: -1;
}

.container {
  padding: 0 7vw;
  max-width: 100vw;
  /* overflow-x: hidden; */
}

.main-header {
  height: 100vh;
  position: relative;
}

.main-title {
  font-size: calc(var(--index) * 10);
  line-height: 0.9;
  position: absolute;
  width: min-content;
  bottom: 12vh;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: calc(var(--index) * 8) 0;
}

.gallery > * {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery__item {
  max-width: calc(var(--index) * 30);
  max-height: 180vh;
  margin-bottom: var(--gap);
  border-radius: 10px;
}

.gallery__left {
  margin-top: calc(var(--gap) * 1.75);
}

.gallery__right .gallery__item {
  margin: 0;
  margin-top: var(--gap);
}

.text-block {
  position: relative;
}

.text-block__h {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 1.5rem;
}

.text-block__p {
  line-height: 1.75;
}

@media (max-width: 768px) {
  .hero {
    width: calc(var(--index) * 80);
    left: 17vw;
    top: 24vh;
  }

  .main-title {
    font-size: calc(var(--index) * 15);
  }

  .gallery {
    display: block;
  }

  .gallery__item {
    max-width: 80%;
  }
}
